* {
    padding: 0;
    margin: 0;
}

header {
    background-image: url(imagens/konoha.jpg);
    background-size: cover;
    background-position: center top;
    padding-top: 250px;
}

h1 {
    text-transform: uppercase;
    color: rgb(255, 153, 0);
    text-align: center;
    background-color: rgb(23, 2, 58);  
    padding: 10px
}

main {
    display: flex;
    background-color: rgb(88, 96, 199);
    justify-content: center;
    padding-top: 20px;
    
}

#img {
    width: 50%;
    text-align: center;
}

img {
    max-width: 300px;
    width: 100%;
}

#texto {
    color: black;
    width: 50%;
    text-align: right;
    padding: 10px;
}

#texto > h2 {
    font-size: 50px;
}

#texto > h3 {
    padding: 20px 0 50px 0;
    font-size: 27px;
}

main > #texto > h2 > span {
    color: white;
}

main > #texto > h3 > span {
    color: white;
}

section {
    background-color: rgb(23, 2, 58); 
}

section > div {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: auto;
    width: 100%;
}

button {
    font-size: 20px;
    padding: 10px 50px;
    color: rgb(255, 136, 0);
    background-color: rgb(23, 4, 107); 
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 50px;
}

footer {
    margin: auto;
    text-align: center;
    background-color: black;
    height: 20px;
    padding-top: 5px;
}

footer > p {
    color: white;
}